[submodule "static/static/pygments-css"]
	path = static/static/pygments-css
	url = git://github.com/richleland/pygments-css.git
[submodule "deps/restdown"]
	path = deps/restdown
	url = git://github.com/trentm/restdown.git
[submodule "deps/jsstyle"]
	path = deps/jsstyle
	url = git://github.com/davepacheco/jsstyle.git
[submodule "deps/javascriptlint"]
	path = deps/javascriptlint
	url = git://github.com/davepacheco/javascriptlint.git
