
</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->

{{# debug }}
<pre id="debug">
{{ debug }}
</pre>
{{/ debug }}

<footer id="footer">
<div id="footer1"><div id="footer2">
  <hr>
  &copy; Trent Mick 2010. All rights reserved.
</div></div>
</footer>

<!--<script>!window.jQuery && document.write('<script src="/js/jquery-1.4.2.min.js"><\/script>')</script>-->
</body>
</html>
