<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!--[if IE]><![endif]-->
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- lessframework.com & davidbcalhoun.com/2010/viewport-metatag -->
  <meta name="viewport" content="width=device-width initial-scale=1">
</head>
<body>
<header id="header">
<div id="header1"><div id="header2">
  <a id="logo" href="/">{{ name }}</a>
  {{# repository }}&mdash; <a href="/{{ name }}">{{ name }}</a>{{/ repository }}

  <div id="headernav">
  {{# navLinks }}
  {{^ first }}<span>&middot;</span>{{/ first }}
  <span><a href="{{ href }}">{{ name }}</a></span>
  {{/ navLinks }}
  
  {{# searchForm }}
  <form id="searchform" action="{{ href }}">
    <input type="search" size="24" id="{{ q }}" name="{{ q }}" placeholder="Search {{ name }}">
    {{# hidden }}
    <input type="hidden" name="{{ name }}" value="{{ value }}">
    {{/ hidden }}
  </form>
  {{/ searchForm }}
  </div>
</div></div>
</header>
