<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Authorization Denied</title>
  <link href='http://fonts.googleapis.com/css?family=Special+Elite&v2' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/style.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width initial-scale=1">

<style>
#wrapper {
  text-align: right;
  margin: 0 48px 0 auto;
}
#msg {
  font-family: 'Special Elite', cursive;
  line-height: 24px;
  font-size: 18px;
  margin: 48px 0;
}
</style>

</head>
<body>
<div id="main">
<div id="wrapper">

<div id="msg">
<h1>Authorization Denied</h1>
<p>Don't have access? Honey badger don't care. {{adminName}} might.<br/>
IM {{adminName}} with your login info to request access.<br/>
Your login info is: <em>{{#user}}{{login}}{{#uuid}} ({{uuid}}){{/uuid}}{{/user}}</em></p>
</div>

<img src="{{image}}"/>

</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->
</body>
