<h1>Server Error (500)</h1>

<p>{{ error }}</p>

{{#details}}
<pre id="details">
{{details}}
</pre>
{{/details}}

<!-- TODO: debug partial with debug info -->
{{#debug}}
<pre id="debug">
{{debug}}
</pre>
{{/debug}}
