{{> top }}
<div id="wrapper"> 
<div id="main">

<!-- TODO:XXX put this in title -->
<h1>Server Error (500)</h1>

<p>{{ error }}</p>

{{#details}}
<pre id="details">
{{details}}
</pre>
{{/details}}

</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->
{{> bottom }}
