{{> top }}
{{> nav }}


<div id="wrapper">
<div id="main">

{{#commit}}
{{> commitbox}}
{{/commit}}

<h3>
{{#breadcrumbs}}
{{#href}}<a href="{{href}}">{{/href}}{{name}}{{#href}}</a>{{/href}}&nbsp;{{#dir}}/&nbsp;{{/dir}}
{{/breadcrumbs}}
</h3>

<div id="actions">
  <a href="{{rawUrl}}">raw</a>
</div>

<div>
{{#text}}
{{> textbox}}
{{/text}}
{{^text}}
{{#isImage}}
<img src="{{rawUrl}}" />
{{/isImage}}
{{^isImage}}
<p>Binary content. (TODO: download link)</p>
{{/isImage}}
{{/text}}
</div>

</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->


{{> bottom_footer }}
{{> bottom_scripts }}

{{#text}}
<script>
$(document).ready(function() {
  // Setup for highlighting code lines.
  Molybdenum.highlightCodeLines();
  $(".linenums span").mousedown(Molybdenum.onCodeLineNumMouseDown);
})
</script>
{{/text}}

{{> bottom_end }}
