{{#repository}}
<h1>{{ name }}</h1>
{{/repository}}

<h2>
{{#breadcrumbs}}
{{#href}}<a href="{{href}}">{{/href}}{{name}}{{#href}}</a>{{/href}}&nbsp;{{#dir}}/&nbsp;{{/dir}}
{{/breadcrumbs}}
</h2>

{{#text}}
<pre>
{{text}}
</pre>
{{/text}}
{{^text}}
<p>Binary content. <!-- TODO: download link --></p>
{{/text}}

<!-- TODO: debug partial with debug info {{!<debug}} -->
<pre id="debug">
{{ debug }}
</pre>
