{{> top }}
{{> nav }}

<div id="wrapper">
<div id="main">

{{> commitbox}}

<div style="height: 40px;">
</div>

{{#diff}}
{{> textbox}}
{{/diff}}

</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->

{{> bottom_footer }}
{{> bottom_scripts }}

{{#diff}}
<script>
$(document).ready(function() {
  // Setup for highlighting code lines.
  Hub.highlightCodeLines();
  $(".linenums span").mousedown(Hub.onCodeLineNumMouseDown);
})
</script>
{{/diff}}

{{> bottom_end }}
