{{> top }}
{{> nav }}

<div id="wrapper">
<div id="main">

{{> commit}}

{{#diffhtml}}
<div id="data">
<table cellpadding="0" cellspacing="0" class="code"><tbody><tr>
<td><pre class="linenums">{{{linenums_pre}}}</pre></td>
<td width="100%"><pre class="codetext codehilite" style="padding-left: 0;">{{{diffhtml}}}</pre></td>
</tr></tbody></table>
</div>
{{/diffhtml}}

</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->

{{> bottom_footer }}
{{> bottom_scripts }}

{{#text}}
<script>
$(document).ready(function() {
  // Setup for highlighting code lines.
  Hub.highlightCodeLines();
  $(".linenums span").mousedown(Hub.onCodeLineNumMouseDown);
})
</script>
{{/text}}

{{> bottom_end }}
