{{> top }}
{{> nav }}

<div id="wrapper">
<div id="main">

{{> commit}}

{{#diffhtml}}
<div id="diff">{{{diffhtml}}}</div>
{{/diffhtml}}

</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->

{{> bottom }}
