{{> top }}
{{> nav }}

<div id="wrapper">
<div id="main">

{{#commitsFromDate}}
<h3>{{date}}</h3>
{{#commits}}
{{.}}
{{> commitbox}}

{{/commits}}
{{/commitsFromDate}}

<style>
#pagelinks {
  margin-top: 24px;
  font-size: 80%;
}
.pagelink {
  border: 1px solid #268bd2;
  padding: 3px 5px;
  margin-right: 5px;
}
.pagelink:hover {
  border-color: #cb4b16;
}
.pagelinkdisabled {
  color: #bbb;
  border: 1px solid #bbb;
  padding: 3px 5px;
  margin-right: 5px;
}
</style>

<div id="pagelinks">
  {{#prevPage}}
  <a class="pagelink" href="?page={{prevPage}}">&laquo; Newer</a>
  {{/prevPage}}
  {{^prevPage}}
  <span class="pagelinkdisabled">&laquo; Newer</span>
  {{/prevPage}}
  {{#nextPage}}
  <a class="pagelink" href="?page={{nextPage}}">Older &raquo;</a>
  {{/nextPage}}
  {{^nextPage}}
  <span class="pagelinkdisabled">Older &raquo;</span>
  {{/nextPage}}
</div>

</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->

{{> bottom }}
