{{> top }}
<div id="wrapper"> 
<div id="main">

<ul>
{{#repositories}}
    <li><a href="/{{ name }}" name="{{ name }} repository">{{ name }}</a></li>
{{/repositories}}
</ul>

</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->
{{> bottom }}
