{{> top }}
{{> nav }}

<div id="wrapper"> 
<div id="main">

{{> commit}}

<h2>
{{#breadcrumbs}}
{{#href}}<a href="{{href}}">{{/href}}{{name}}{{#href}}</a>{{/href}}&nbsp;{{#dir}}/&nbsp;{{/dir}}
{{/breadcrumbs}}
</h2>

<ul>
{{#entries}}
    <li><a href="{{ href }}">{{ name }}{{#isDir}}/{{/isDir}}</a></li>
{{/entries}}
</ul>

</div> <!-- end of #wrapper -->
</div> <!-- end of #main -->

{{> bottom }}

