{{> top }}

<h2>
{{#breadcrumbs}}
{{#href}}<a href="{{href}}">{{/href}}{{name}}{{#href}}</a>{{/href}}&nbsp;{{#dir}}/&nbsp;{{/dir}}
{{/breadcrumbs}}
</h2>

<ul>
{{#entries}}
    <li><a href="{{ href }}">{{ name }}{{#isDir}}/{{/isDir}}</a></li>
{{/entries}}
</ul>

{{> bottom }}

